<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="faidarecharge.com.faidarecharge" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="faidarecharge.com.faidarecharge.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="faidarecharge.com.faidarecharge.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:name="apiHelpers.MyApplication"
        android:theme="@style/MyMaterialTheme" >

        <activity
            android:name="uiActivities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uiActivities.MyDrawerActivity"
            android:label="@string/my_drawer_activity"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <receiver
            android:name="uiActivities.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="faidarecharge.com.faidarecharge" />
            </intent-filter>
        </receiver>

        <service android:name="uiActivities.GcmMessageHandler" />


        <activity
            android:name="uiActivities.OfferDetailsActivity"
            android:label="@string/offer_details" >
        </activity>


        <activity
            android:name="uiActivities.WebView"
            android:label="@string/offer_details" >
        </activity>

        <activity
            android:name="login.BaseLoginActivity" >
        </activity>

        <activity
            android:name="login.WelcomeActivity" >
        </activity>

        <activity
            android:name="uiReferralSystem.ReferralSystemDetailsActivity" >
        </activity>

        <activity
            android:name="uiReferralSystem.CalculateActivity" >
        </activity>

        <activity
            android:name="uiReferralSystem.SignupActivity" >
        </activity>


    </application>

</manifest>
